name: Sync To Gitee
on: page_build

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: wearerequired/git-mirror-action@master
        env:
          SSH_PRIVATE_KEY: ${{ secrets.GITEE_PRIVATE_KEY }}
        with:
          source-repo: "git@github.com:mizuka-wu/vocaloid-module-index.git"
          destination-repo: "git@gitee.com:mizuka/vocaloid-module-index.git"
